beautifulsoup4==4.13.3
gspread==6.2.0
pandas==2.2.3
plotly==5.24.1
pypdf==5.4.0
Requests==2.32.3
scrapfly_sdk==0.8.21
streamlit==1.41.1
streamlit_card==1.0.2
streamlit_tags==1.2.8
google-ai-generativelanguage==0.6.10
google-api-core==2.24.0
google-api-python-client==2.159.0
google-auth==2.37.0
google-auth-httplib2==0.2.0
google-generativeai==0.8.3
googleapis-common-protos==1.66.0
